/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    font-weight: bold;
}

/* Barra de navegación */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    transition: top 0.3s;
}

#navbar .navbar-brand img {
    margin-right: 10px;
}

/* Animación al pasar el cursor sobre los enlaces de la barra de navegación */
.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: bold;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
    color: #f8f9fa !important; /* Cambia a un color ligeramente más claro */
}


/* Ocultar barra al hacer scroll */
#navbar.hide {
    top: -80px; /* Mueve la barra fuera de la pantalla */
}

/* Carrusel */
#hero {
    margin-top: 0px; /* Para que no quede debajo de la barra de navegación */
}

/* Hero Section */
#hero {
    position: relative;
    width: 100%;
    max-height: 730px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height:730px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

/* Vision y Mission */
#vision-mision {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#vision-mision .card:hover {
    transform: translateY(-10px); /* Efecto de elevarse al pasar el ratón */
}

#vision-mision div {
    max-width: 400px;
    margin: 20px;
}

#vision-mision h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

#vision-mision p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Projects Section */
#proyectos {
    text-align: center;
    padding: 50px 20px;
}

#proyectos img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#proyectos .btn {
    margin-top: 20px;
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
    font-weight: bold;
}

#proyectos .btn:hover {
    background-color: #495057;
    border-color: #495057;
}

/* Estilo del footer */
footer {
    background-color: #343a40;
    color: rgb(6, 6, 6);
    padding: 20px;
}

/* Estilo responsive */
@media (max-width: 768px) {
    #navbar .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        display: none;
    }
}
